a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

h1 {
    color: white;
    font-family: fantasy;
    font-size: 125px;
}

h2 {
    text-align: center;
}

.bold {font-weight: bold;}
.justify {text-align: justify;}

p {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.bbrank {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
}
li {
    font-weight: normal;
    font-style: italic;
    font-size: 20px;
}

ol {
    text-align: center;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    border-right: solid black 1px;
    border-left: solid black 1px;
}

.odd {
    background-color: aliceblue;
}

iframe {
    border: 0;
}

.anchor {
    text-align: center;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Optional: Center vertically within the viewport */
}

